@media only screen and (max-width: 1050px) {
    #navigation {
      
        padding: 30px 20px;
        text-align: center;
    }

    .nav {
        display: block;
        float: none;
        margin-top: 30px;
    }
    #about div:last-child {
       
        width: 100%;
        padding: 5px;
    }

    .container {
     
        width: 98%;
     
    }
    .special {
        background-color: black; 
      padding: 0px;
        color: #F8C008;
    }
    #banner p {
       
        font-size: 18px;
        width: 80%;
       
        margin-top: -60px;
    }

    #banner h1{
        font-size: 90px;
    }
}


@media only screen and (max-width: 600px) {
    #navigation {
    
    }

    .nav{
        display: none;
    }

    #banner h1{
        font-size: 70px;
    }
    #banner p {
       
       
        margin-top: -20px;
    }


    #about{
        display: block;
        text-align: center;
    }

    .container{
        width: 90%;
    }

    /* .navMobile {
        display:block;

        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        background: #00000094;
        height: 100vh;
        color: #ffffff;
        padding: 0px;
        padding-top: 80px;
    }
    .navMobile li{
        list-style: none;
        padding: 20px 30px;
        background-color: #00000094;
        margin-bottom: 2px;
    } */
}

@media only screen and (max-width: 390px) {
  

  

    #banner h1{
        font-size: 50px;
    }
 
}