@media only screen and (max-width: 1050px) {
    #navigation {
      
        padding: 30px 20px;
        text-align: center;
    }

    .nav {
        display: block;
        float: none;
        margin-top: 30px;
    }
    #about div:last-child {
       
        width: 100%;
        padding: 5px;
    }

    .container {
     
        width: 98%;
     
    }
}


@media only screen and (max-width: 600px) {
    #navigation {
    
    }
}