/* font-family: 'Rowdies', cursive; */

body{
    margin: 0px;
    padding: 0px;
}

h1 span{
    font-family: 'Rowdies', cursive;
    background-color: #50B84C;
    padding: 10px
}

.brand{
    color: #ffffff;
}

#navigation{
    background-color: #090909;
    color: #ffffff;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 4fr;

    
    
}

.nav{
    
}
.nav li{
    display: inline;
}